        .myform {
            margin-left: 100px;
            margin-top: 30px;
            background-color: white;
            padding: 50px;
            width: 500px;
        }
        
        body {
            background-color: gainsboro;
        }
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }